@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    /* outline: solid 2px; */
    list-style:none;
}

body{
    line-height: 1.5;
    font-family:"Noto Sans",sans-serif;
}

.wrap{
    max-width: 1296px;
    margin: 0 auto;
}


/* display */
.flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex_column{
    flex-direction: column;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}


.justify-space-evenly{
    justify-content: space-evenly;    
}

.align-center{
    align-items: center;
}


.header{
    margin: 0 auto;
    max-width: 1296px;
    padding: 32px;
    position: relative;
}

.logo{
    position: absolute;
    max-width: 90px;
    left: 32px;
    top:  32px;
}

.navbar{
    justify-content: center;
    gap: 20px;
}
.navbar li{
    text-align:center;
    position:relative;
}
.navbar a{
    display: block;
    padding: 8px 16px;
    font-size:20px;
    text-align:center;
    text-decoration:none;
}
.navbar a:hover::before,.navbar a:hover::after,.navbar li:hover::before,.navbar li:hover::after{
    border-color: black;
}
.navbar a::before{
    content: "";
    width: 8px;
    height: 8px;
    border-left:2px solid transparent;
    border-bottom:2px solid transparent;
    position:absolute;
    left:0px;
    bottom:0px;
}
.navbar a::after{
    content: "";
    width: 8px;
    height: 8px;
    border-right:2px solid transparent;
    border-bottom:2px solid transparent;
    position:absolute;
    right:0px;
    bottom:0px;
}
.navbar li::before{
    content: "";
    width: 8px;
    height: 8px;
    border-left:2px solid transparent;
    border-top:2px solid transparent;
    position:absolute;
    left:0px;
    top:0px;
}
.navbar li::after{
    content: "";
    width: 8px;
    height: 8px;
    border-right:2px solid transparent;
    border-top:2px solid transparent;
    position:absolute;
    right:0px;
    top:0px;
}


.navbar>.active a::before{
    content: "";
    width: 8px;
    height: 8px;
    border-left:2px solid black;
    border-bottom:2px solid black;
    position:absolute;
    left:0px;
    bottom:0px;
}
.navbar>.active a::after{
    content: "";
    width: 8px;
    height: 8px;
    border-right:2px solid black;
    border-bottom:2px solid black;
    position:absolute;
    right:0px;
    bottom:0px;
}
.navbar>.active::before{
    content: "";
    width: 8px;
    height: 8px;
    border-left:2px solid black;
    border-top:2px solid black;
    position:absolute;
    left:0px;
    top:0px;
}
.navbar>.active::after{
    content: "";
    width: 8px;
    height: 8px;
    border-right:2px solid black;
    border-top:2px solid black;
    position:absolute;
    right:0px;
    top:0px;
}


.menu-control{
    display: none;
  }
.burger{
    display: none;
}
.burger img{
    width: 40px;
    height: 40px;
}
  
  
@media (max-width: 768px) {
    .header{
        width: 90%;
        padding: 8px 12px;
    }
    .logo{
        left: 12px;
        top:  8px;
    }
    .burger{
        display: flex;
        justify-content: flex-end;
    }
    .navbar{
        display: none;
        flex-direction:column;
    }
    .menu-control:checked~.navbar{
        display: flex;
        flex-direction:column;
    }
}




.banner{
    width: 100%;
    margin: 0 auto;
    padding: 80px 0;
    background: #FAFAFA;
    gap: 24px;
}
.bannersign{
    padding: 72px;
    position: relative;
}
.signblock{
    text-align: center;
    max-width: 528px;
    margin-bottom: 16px;
}

.signblock>p{
    margin: 0;
}
.signblock span{
    display: inline;
    font-size: 24px;
    position: relative;
    z-index: 0;
}

.quote{
    position: absolute;
    width: 72px;
    height: 72px;
}
.quote-start{
    top: 0px;
    left: 0px;
    background: url('./icon/quote-left.png') no-repeat center center;
}
.quote-end{
    bottom: 0px;
    right: 0px;
    background: url('./icon/quote-right.png') no-repeat center center;
}

.signblock>p>span::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    right: -20px;
    width: 148px;
    height: 8px;
    background: url('./icon/mark.png') no-repeat center center;
    transform:  rotate(180deg);
    z-index: -1;
}

.bannercards{
    gap: 40px;
}
.banCard{
    text-align: center;
    max-width: 298px;
    width: 40%;
}
.banCard>p{
    position:relative;
    font-size: 24px;
}

.banCard>p::after{
    content: "";
    width: 40%;
    height: 2px;
    border-bottom:2px solid gray;
    position:absolute;
    left:30%;
    bottom:0px;
}
@media (max-width: 768px) {
    .bannersign{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 40px 24px;
    }
    .quote, .quote2{
        position:static;
    }
    .signblock{
        max-width: 500px;
    }
}

@media (max-width: 375px) {
    
    .signblock{
        max-width: 300px;
    }
    .signblock span{
        font-size: 20px;
    }
    .bannercards{
        justify-content: center;
        flex-wrap: wrap;
    }
    .banCard{
        max-width: 235px;
        width: 90%;
    }
}





.content{
    padding: 80px 0 ;
}

.card{
    width: 45%;
    margin-bottom: 80px;
}

.imgblock img{
    width: 98%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 16px;
}

.card_description{
    margin-left: 16px;
}

.card_description .data{
    margin-bottom: 24px;
}

.card_description h2{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 8px;
    color: #3B3B3B;
}
.card_description p{
    color:     #919191;
}
.tagblock{
    gap:16px;
}

.tagblock>li{
    padding: 4px 12px;
    border-radius: 16px;
    background: #F1F1F1;
    color:  #3B3B3B;
}




.pagenation{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.pagebtn{
    width: 40px;
    height: 40px;
    background: white;
    color: black;
    border-radius: 4px;
    text-align:center;
    font-size:24px;
    cursor:pointer;
}
.pagebtn-now{
    background: #1E1E1E;
    color: white;
}

.pagebtn:hover{
    background: #1E1E1E;
    color: white;
}

/* @media (max-width: 1366px) {
    .card{
        width: 48%;
    }
} */
@media (max-width: 768px) {
    .card{
        width: 85%;
    }
    .tagblock{
        display: flex;
        flex-wrap:wrap;
        gap: 8px;
    }
}
@media (max-width: 375px) {
    .card{
        width: 90%;
    }
}


.footerbg{
    width: 100%;
    margin: 0 auto;
    background: url(./img/footer-bg-lg.png);
}


.footer{
    padding: 80px 0px;
    display: flex;
    justify-content: space-between;
}

.footer_desc{
    gap: 24px;
}
.footer_desc p{
    font-size: 20px;
}
.footer_desc img{
    width: 120px;
    height: 54px;
}
.mail{
    color: #919191;
}

.footer_btnlist{
    max-width: 306px;
    gap: 24px;
}

.btn{
    padding: 8px 24px;
    border-radius: 8px;
    gap: 8px;
    border: 1px solid #000;
}

.btn .icon{
    width: 56px;
    height: 56px;
}

.btn>p{
    font-size: 20px;
    font-weight: 700;
}
.blackbtn{
    background: #000;
    color: white;
}

@media (max-width: 768px) {
    
    .footer{
        flex-direction: column;
        gap: 40px;
        justify-content: space-around;
        align-items: center;
        padding: 40px 12px;
    }
    
    .footer_btnlist{
        width: 90%;
    }
}

@media (max-width: 375px) {
    
    .footer{
        flex-direction: column;
        gap: 40px;
        justify-content: space-around;
        align-items: center;
        padding: 40px 12px;
    }
    .footerbg{
        background: url(./img/footer-bg-sm.png);
    }

}