@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    /* outline: solid 2px; */
    font-family:"Noto Sans",sans-serif;
    list-style:none;
}
.wrap{
    max-width: 1296px;
    margin: 0 auto;
}


/* display */
.df{
    display: flex;
}
.df_colum{
    display: flex;
    flex-direction: column;
}
.jcc{
    justify-content: center;
}

.jcsb{
    justify-content: space-between;
}
.aic{
    align-items: center;
}


.header{
    padding: 20px;
    position: relative;
}

.logo{
    position: absolute;
    max-width: 90px;
    left: 0px;
    top:  50%;
    transform: translate(0%, -50%);
}

.navbar{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.header li{
    text-align:center;
    position:relative;
}
.header a{
    display: block;
    padding: 8px 16px;
    font-size:20px;
    line-height: 30px;
    text-align:center;
    text-decoration:none;
}
.header a:hover::before,.header a:hover::after,.header li:hover::before,.header li:hover::after{
    border-color: black;
}
.header a::before{
    content: "";
    width: 8px;
    height: 8px;
    border-left:2px solid transparent;
    border-bottom:2px solid transparent;
    position:absolute;
    left:0px;
    bottom:0px;
}
.header a::after{
    content: "";
    width: 8px;
    height: 8px;
    border-right:2px solid transparent;
    border-bottom:2px solid transparent;
    position:absolute;
    right:0px;
    bottom:0px;
}
.header li::before{
    content: "";
    width: 8px;
    height: 8px;
    border-left:2px solid transparent;
    border-top:2px solid transparent;
    position:absolute;
    left:0px;
    top:0px;
}
.header li::after{
    content: "";
    width: 8px;
    height: 8px;
    border-right:2px solid transparent;
    border-top:2px solid transparent;
    position:absolute;
    right:0px;
    top:0px;
}
.burger{
    display: flex;
    justify-content: flex-end;
    display: none;
}
.burger img{
    width: 50px;
    height: 50px;
}
  
  
@media (max-width: 768px) {
    .header{
        width: 95%;
    }
    .burger{
        display: flex;
    }
    .burger:active .navbar{
        display: flex;
    }

    .navbar{
        display: none;
        flex-direction:column;
    }
}




.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    background: #FAFAFA;
    gap: 24px;
}
.bannersign{
    padding: 72px;
    position: relative;
}
.signblock{
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 528px;
    gap: 16px;
    
}

.signblock>p{
    margin: 0;
    line-height: 28.8px;
}
.signblock span{
    display: inline;
    font-size: 24px;
    line-height: 1.2;
    position: relative;
    z-index: 0;
}
.quote{
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    background: url('./icon/quote-left.png') no-repeat center center;
}
.quote2{
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 72px;
    height: 72px;
    background: url('./icon/quote-right.png') no-repeat center center;
    /* transform:  rotate(180deg); */
}

.signblock>p>span::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    right: -20px;
    width: 148px;
    height: 8px;
    background: url('./icon/mark.png') no-repeat center center;
    transform:  rotate(180deg);
    z-index: -1;
}

.bannercards{
    display: flex;
    justify-content: spaccentween;
    gap: 40px;
}
.banCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 298px;
    width: 48%;
}
.banCard>p{
    position:relative;
    font-size: 24px;
}
.banCard>span{
    font-size: 16px;
    line-height: 24px;
}
.banCard>p::after{
    content: "";
    width: 40%;
    height: 2px;
    border-bottom:2px solid gray;
    position:absolute;
    left:30%;
    bottom:0px;
}
@media (max-width: 768px) {
    .bannersign{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 40px 24px;
    }
    .quote, .quote2{
        position:static;
    }
    .signblock{
        max-width: 500px;
    }
}

@media (max-width: 375px) {
    
    .signblock{
        max-width: 300px;
    }
    .signblock span{
        font-size: 20px;
    }
    .bannercards{
        justify-content: center;
        flex-wrap: wrap;
    }
    .banCard{
        max-width: 235px;
        width: 96%;
    }
}





.content{
    max-width: 1296px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 80px 0 ;
}

.card{
    max-width:636 px;
    width: 48%;
    gap:16px;
    margin-bottom: 80px;
}

.block img{
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 16px;
}

.block2{
    margin-left: 16px;
    
}

.block2 .data{
    margin-bottom: 24px;
}

.block2 h2{
    font-size: 28px;
    font-weight: 700;
    line-height: 33.6px;
    text-align: left;
    margin-bottom: 8px;
    color: #3B3B3B;
}
.block2 p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color:     #919191;
}
.tagblock{
    display: flex;
    flex-wrap:wrap;
    gap:16px;
}

.tagblock>li{
    padding: 4px 12px;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    background: #F1F1F1;
    color:  #3B3B3B;
}




.pagenation{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.pagebtn{
    width: 40px;
    height: 40px;
    background: white;
    color: black;
    border-radius: 4px;
    text-align:center;
    font-size:24px;
    font-weight: 400;
    line-height: 40px;
    cursor:pointer;
}
.pagebtn:hover{
    background: #1E1E1E;
    color: white;
}

/* @media (max-width: 1366px) {
    .card{
        width: 48%;
    }
} */
@media (max-width: 768px) {
    .card{
        width: 98%;
    }
    .tagblock{
        display: flex;
        flex-wrap:wrap;
        gap: 8px;
    }
}
@media (max-width: 375px) {
    .card{
        width: 90%;
    }
}


.footerbg{
    background: url(./img/footer-bg-lg.png);
}


.footer{
    padding: 80px 0px;
    display: flex;
    justify-content: space-between;
}

.footer_desc{
    gap: 24px;
}
.footer_desc p{
    font-size: 20px;
    line-height: 1.5;
}
.footer_desc img{
    width: 120px;
    height: 54px;
}
.mail{
    color: #919191;
}

.footer_btnlist{
    max-width: 306px;
    gap: 24px;
}

.btn{
    padding: 8px 24px;
    border-radius: 8px;
    gap: 8px;
}

.btn .icon{
    width: 56px;
    height: 56px;
}

.btn>p{
    font-size: 20px;
    line-height: 1.5;
    font-weight: 700;
}
.blackbtn{
    background: #000;
    color: white;
}

@media (max-width: 768px) {
    
    .footer{
        flex-direction: column;
        gap: 40px;
        justify-content: space-around;
        align-items: center;
        padding: 40px 12px;
    }
    
    .footer_btnlist{
        width: 90%;
    }
}

@media (max-width: 375px) {
    
    .footer{
        flex-direction: column;
        gap: 40px;
        justify-content: space-around;
        align-items: center;
        padding: 40px 12px;
    }
    .footerbg{
        background: url(./img/footer-bg-sm.png);
    }

}